/* Shared style */
*{
    box-sizing: border-box;
    background-color: rgb(245, 248, 255);
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Navbar related style */
.navbar{
    display: flex;
    justify-content:space-between ;
    height: 70px;
    width: 100%;
    align-items: center;
    margin: 20px auto;
}
.nav-img{
    max-width: 100%;
    margin: 0 10px;
}
.nav-items{
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 10px 0;
}
.nav-item{
    list-style: none;
   

}
.nav-item a{
    text-decoration: none;
    color: rgb(37, 36, 50);
    font-weight: 700;
}
#shop{
    color: rgb(137, 135, 161);
}
#about-us{
    color: rgb(137, 135, 161);
}
/* fresh flower section related style */
.fresh-flower-section{
    display: flex;
    height: 600px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.fresh-flower-section-title{
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
#fresh-flowers{
    color: rgb(233, 90, 8);
}
.fresh-flower-section-description{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
    /* margin-top: 10px; */
}
.fresh-flower-image{
    width: 100%;
    height: auto;
}
/* our plants section related styles */
.our-plants-section-title{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(0, 0, 0);
}
#our{
    color: rgb(233, 90, 8);
}
.our-plants-section-description{
    text-align: center;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}
.our-plants-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.flower-name{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(17, 17, 17);
}
.flower-price{
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(17, 17, 17);
}
.flower-button{
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(233, 90, 8);
    height: 50px;
    width: 100%;
    margin-top: 10px;
}
/* plant lover section related styles */
.plants-lover-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 150px;
}
.plants-lover-section-left{
    background-image: url("./assets/flower-store.png");
    background-image: 100%;
    flex: 1;
    /* object-fit: cover; */
    height: 500px;
}
.plants-lover-section-right{
    width: 40%;
    margin-top: -20px;
}
.plant-section-img{
    height: 250px;
    width: 250px;
    background: none;
    margin-left: 420px;
    margin-top: -120px;
}
.plants-lover-section-title{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
.plants-lover-section-description{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);

}
/* latest deals section related style */
.latest-deals-section{
    text-align: center;
    margin-top: 120px;
}
.latest-deals-section-title{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
#latest{
    color: rgb(233, 90, 8);
}
.latest-deals-section-description{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}
/* offer section related styles */
.offer-section{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 700px;
    margin-top: 100px;
}
.offer-section img{
    border-radius:20px;
    width: 100%;
}
.offer-section-left{
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 30%;
}
.offer-section-right{
    flex: 1;
}
.content{
   margin-top: -100px;
   text-align: center;
}
.content h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);

}
.card{
    height: auto;
}
.content-zabo{
    margin-top: -250px;
    text-align: center;
}
.content-zabo h3{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(245, 248, 255);
}
.offer-section a{
    font-size: 1.5rem;
    color: rgb(245, 248, 255);
    text-decoration: underline;
    background: transparent;

}
/* join section related styles */
.join-section-container{
    width: 100%;
    height: 400px;
    background-image: url("./assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.join-section-container h1{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: transparent;
}
.join-section-container input{
    width: 650px;
    height: 50px;
}
.join-section-container input ::placeholder{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}
.join-section-container button{
    width: 200px;
    height: 50px;
    background-color: rgb(233, 90, 8);
    margin-left: 10px;
}


@media screen and (max-width:576px){
    .navbar{
        width: 100%;
    }
    .nav-item{
        max-width: 100%;
        text-wrap: nowrap;

    }
    .group-item{
        display: none;
    }
    .fresh-flower-section{
        flex-direction: column-reverse;
        width: 100%;
        
    }
    .fresh-flower-image{
        width: 100%;
    }
    .fresh-flower-section-left {
        width: 100%;
        

        ;
    }
    .our-plants-container{
        grid-template-columns: repeat(2,1fr);
    }
    .plants-lover-section{
        flex-direction: column;
        
    }
    .plant-section-img{
        margin: 0;
        visibility: hidden;
    }
    .plants-lover-section-left{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .offer-section{
        flex-direction: column;
    }
    .offer-section-left{
        width: 100%;
    }
    .offer-section-right{
        margin-top: 30px;
    }
}    